<pf-dropdown hide-arrow>
    <div slot="button">
        <a class="nav-link">
            <i class="flag-icon flag-icon-ru"></i>
        </a>
    </div>
    <div slot="menu">
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-us mr-2"></i>
            <span>English</span>
        </a>
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-ru mr-2"></i>
            <span>Русский</span>
        </a>
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-uz mr-2"></i>
            <span>O'zbek</span>
        </a>
    </div>
</pf-dropdown>
