<h2 mat-dialog-title>{{ data.graphicNumber }}</h2>

<form [formGroup]="fileForm" (ngSubmit)="submitProject()">
  <mat-dialog-content>
    <div class="flex flex-col w-full font-medium text-lg">
      Izoh:
      <textarea formControlName="subject" class="outline-blue-500 border border-blue-400 px-2 py-1"></textarea>
    </div>

    <div>
      <h2 class="font-medium text-lg">Loyiha</h2>
      <div class="flex xl:flex-row max-xl:flex-col max-xl:space-y-2">
        <div>
          PDF:
          <input formControlName="projectPdf" (change)="documentOnChange($event, 'projectPdf')" class="file" type="file"
                 accept=".pdf">
        </div>
        <div>
          Autocad:
          <input formControlName="projectAutocad" (change)="documentOnChange($event, 'projectAutocad')" class="file"
                 type="file" accept=".dwg, .dxf">
        </div>
      </div>
    </div>
    <div>
      <h2 class="font-medium text-lg">Smeta</h2>
      <div class="flex xl:flex-row max-xl:flex-col max-xl:space-y-2">
        <div>
          PDF:
          <input formControlName="estimatePdf" (change)="documentOnChange($event, 'estimatePdf')" class="file"
                 type="file"
                 accept=".pdf">
        </div>
        <div>
          Excel:
          <input formControlName="estimateExcel" (change)="documentOnChange($event, 'estimateExcel')" class="file"
                 type="file" accept="application/vnd.ms-excel, .png, .jpg, .pdf">
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="bg-blue-500 text-lg text-white px-4 py-2 rounded hover:bg-blue-600 active:bg-blue-400">
      Jo'natish
    </button>
  </mat-dialog-actions>
</form>
