<h2 mat-dialog-title>{{ data.graphicNumber }}</h2>

<form [formGroup]="fileForm" (ngSubmit)="submitProject()">
  <mat-dialog-content>

    <div class="flex flex-col p-2 border border-slate-700 rounded">
      <h3 *ngIf="rejectedBy" class="text-lg font-medium">{{rejectedBy}}dan rad etilgan izoh:</h3>
      <hr>
      <p *ngIf="comment" class="text-lg break-words">{{comment}}</p>
    </div>

    <div class="flex flex-col w-full font-medium text-lg">
      Izoh:
      <textarea formControlName="subject" class="outline-blue-500 border border-blue-400 px-2 py-1"></textarea>
    </div>

    <div>
      <h2 class="font-medium text-lg">Loyiha</h2>
      <div class="flex xl:flex-row max-xl:flex-col max-xl:space-y-2">
        <div>
          PDF:
          <input formControlName="projectPdf" (change)="documentOnChange($event, 'file_pdf')" class="file" type="file"
                 accept="application/pdf">
        </div>
        <div>
          Autocad:
          <input formControlName="projectAutocad" (change)="documentOnChange($event, 'file_autocad')" class="file"
                 type="file" accept=".dwg">
        </div>
      </div>
    </div>
    <div>
      <h2 class="font-medium text-lg">Smeta</h2>
      <div class="flex xl:flex-row max-xl:flex-col max-xl:space-y-2">
        <div>
          PDF:
          <input formControlName="estimatePdf" (change)="documentOnChange($event, 'simeta_pdf')" class="file"
                 type="file"
                 accept="application/pdf">
        </div>
        <div>
          Excel:
          <input formControlName="estimateExcel" (change)="documentOnChange($event, 'simeta_autocad')" class="file"
                 type="file"
                 accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </div>
        <div>
          Excel:
          <input formControlName="estimateExcel" (change)="documentOnChange($event, 'smeta_titul')" class="file"
                 type="file"
                 accept=".doc, .docx, .xls, .xlsx">
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="bg-blue-500 text-lg text-white px-4 py-2 rounded hover:bg-blue-600 active:bg-blue-400">
      Jo'natish
    </button>
  </mat-dialog-actions>
</form>
