<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Yangi loyiha</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!--          <li class="breadcrumb-item"><a href="#">Главная</a></li>-->
          <!--          <li class="breadcrumb-item active">Новый проект</li>-->
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <form [formGroup]="fileForm" (ngSubmit)="sendProject()">
        <div class="flex flex-row w-full border-b border-slate-300 py-3 px-4 justify-between items-center">
          <div class="card-title outline-0 w-full" (click)="toggleMenu()">
            <input formControlName="file" class="card-title outline-0 w-full" placeholder="Birlanish hujjatlar kodi tanlang"/>

            <div *ngIf="isMenuOpen" class="absolute w-1/2 bg-white max-h-96 mt-2 shadow-lg overflow-y-auto">
              <ul class="list-none p-2" *ngFor="let file of projectFiles">
                <li><p class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                       (click)="selectCategory(file.id)">{{ file.name }} : {{ file.fileCode }}</p></li>
              </ul>
            </div>
          </div>

          <div class="card-tools">
            <button
              [disabled]="loading"
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded disabled:bg-blue-300">
              Jo'natish
            </button>
          </div>
        </div>
        <div class="card-body flex flex-col space-y-1.5">
          <div class="flex max-xl:flex-col max-xl:space-y-1.5 xl:flex-row xl:space-x-8">
            <div class="flex flex-col w-full">
              Grafik raqami:
              <input formControlName="graphic" class="outline-blue-500 border border-blue-400 px-2 py-1">
            </div>
            <div class="flex flex-col w-full">
              Arxiv raqami:
              <input formControlName="archive" class="outline-blue-500 border border-blue-400 px-2 py-1">
            </div>
            <div class="flex flex-col w-full">
              Ishchi loyiha nomi:
              <input formControlName="worker" class="outline-blue-500 border border-blue-400 px-2 py-1">
            </div>
          </div>
          <div class="flex flex-col w-full">
            Izoh:
            <textarea formControlName="subject" class="outline-blue-500 border border-blue-400 px-2 py-1"></textarea>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer space-y-4">
          <div>
            <h2 class="font-medium text-lg">Loyiha</h2>
            <div class="flex xl:flex-row max-xl:flex-col max-xl:space-y-2">
              <div>
                PDF:
                <input formControlName="projectPdf" (change)="documentOnChange($event, 'projectPdf')" class="file"
                       type="file" accept="application/pdf">
              </div>
              <div>
                Autocad:
                <input formControlName="projectAutocad" (change)="documentOnChange($event, 'projectAutocad')"
                       class="file" type="file" accept=".dwg">
              </div>
            </div>
          </div>
          <div>
            <h2 class="font-medium text-lg">Smeta</h2>
            <div class="flex xl:flex-row max-xl:flex-col max-xl:space-y-2">
              <div>
                PDF:
                <input formControlName="estimatePdf" (change)="documentOnChange($event, 'estimatePdf')" class="file"
                       type="file" accept="application/pdf">
              </div>
              <div>
                Excel:
                <input formControlName="estimateExcel" (change)="documentOnChange($event, 'estimateExcel')" class="file"
                       type="file"
                       accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-footer-->
      </form>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
