<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Xulosalar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
<!--          <li class="breadcrumb-item"><a href="#">Главная</a></li>-->
<!--          <li class="breadcrumb-item active">Проекты</li>-->
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
<!--      <div class="card-header">-->
<!--        <h3 class="card-title">Xulosalar</h3>-->
<!--      </div>-->
      <div class="card-body">
        <table class="table table-auto">
          <thead>
          <tr>
            <th>№</th>
            <th>Arxiv raqami</th>
            <th>Ishchi loyiha nomi</th>
            <th>Izoh</th>
            <th>Smeta Excel</th>
            <th>Sana</th>
          </tr>
          </thead>
          <tbody *ngFor="let project of projects; index as i">
          <tr>
            <td>{{i+1}}</td>
            <td>{{project.archiveNumber}}</td>
            <td>{{project.executor}}</td>
            <td class="max-w-lg">{{project.comment}}</td>
            <td><i class="fa-solid fa-file-excel"></i></td>
            <td>{{project.date | date:'dd-MM-yyyy'}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
