<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Xulosalar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!--          <li class="breadcrumb-item"><a href="#">Главная</a></li>-->
          <!--          <li class="breadcrumb-item active">Проекты</li>-->
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <table class="table table-auto">
          <thead>
          <tr>
            <th>№</th>
            <th>Birlamchi hujjat kodi</th>
            <th>Arxiv raqami</th>
            <th>Grafik raqami</th>
            <th>Tekshiruvchi ismi</th>
            <th>Izoh</th>
            <th>Sana</th>
          </tr>
          </thead>
          <tbody *ngFor="let project of conclusions; index as i">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ project.fileCode }}</td>
            <td>{{ project.archiveNumber }}</td>
            <td>{{ project.graphicNumber }}</td>
            <td>{{ project.user }}</td>
            <td class="max-w-lg break-words">{{ project.comment }}</td>
            <td>{{ project.createdAt | date:'dd-MM-yyyy' }}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
