<table class="table table-auto">
  <thead>
  <tr>
    <th>№</th>
    <th>Graf raqami</th>
    <th>Arxiv raqami</th>
    <th>Ishchi loyiha nomi</th>
    <th>Loyiha PDF</th>
    <th>Loyiha Autocad</th>
    <th>Smeta PDF</th>
    <th>Smeta Excel</th>
    <th>Sana</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody *ngFor="let project of projects; index as i">
  <tr>
    <td>{{i+1}}</td>
    <td>{{project.gruffNumber}}</td>
    <td>{{project.archiveNumber}}</td>
    <td>{{project.executor}}</td>
    <td><i class="fa-solid fa-file-pdf"></i></td>
    <td><i class="fa-solid fa-file-invoice"></i></td>
    <td><i class="fa-solid fa-file-pdf"></i></td>
    <td><i class="fa-solid fa-file-excel"></i></td>
    <td>{{project.date | date:'dd-MM-yyyy'}}</td>
    <td [ngClass]="{
      'text-red-600': project.status == 'Rad etilgan',
      'text-green-600': project.status == 'Qabul qilingan'
    }">{{project.status}}</td>
  </tr>
  </tbody>
</table>
