<table class="table table-auto">
  <thead>
  <tr>
    <th>№</th>
    <th>Ism</th>
    <th>Bo'lim nomi</th>
    <th>Obyekt nomi</th>
    <th>Hujjat kodi</th>
    <th>Sana</th>
    <th>Batafsil</th>
  </tr>
  </thead>
  <tbody *ngFor="let doc of docs; index as i">
  <tr>
    <td>{{i+1}}</td>
    <td>{{doc.user.username}}</td>
    <td>{{doc.user.section_name}}</td>
    <td>{{doc.categories.name}}</td>
    <td>{{doc.file_code}}</td>
    <td>{{doc.created_add | date:'dd-MM-yyyy'}}</td>
    <td><button (click)="showDetails(doc)"><i class="fa-solid fa-right-to-bracket"></i></button></td>
  </tr>
  </tbody>
</table>
