<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Loyihalar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <app-project-item *ngIf="role === Role.DESIGNER" [projects]="projects"
                          (projectUpdateEvent)="updateTable($event)"></app-project-item>
        <app-supervisor-project-items *ngIf="role === Role.SUPERVISOR"
                                      [projects]="supervisorProjects"></app-supervisor-project-items>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
