<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Loyihalar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!--          <li class="breadcrumb-item"><a href="#">Главная</a></li>-->
          <!--          <li class="breadcrumb-item active">Проекты</li>-->
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <!--      <div class="card-header">-->
      <!--        <h3 class="card-title">Loyihalar</h3>-->
      <!--      </div>-->
      <div class="card-body">
        <app-project-item *ngIf="role === Role.DESIGNER" [projects]="projects"></app-project-item>
        <app-supervisor-project-items *ngIf="role === Role.SUPERVISOR" [projects]="supervisorProjects"></app-supervisor-project-items>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
