<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-sky-500  text-white">
                    <div class="inner">
                        <h3>{{allProjects}}</h3>

                        <p>Barcha loyihalar</p>
                    </div>
                    <div class="icon">
                        <i *ngIf="allProjects" class="fa-solid fa-files"></i>
                    </div>
                    <a routerLink="/projects" class="small-box-footer"
                        >Batafsil <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{approvedProjects}}</h3>

                        <p>Qabul qilingan</p>
                    </div>
                    <div class="icon">
                        <i *ngIf="approvedProjects" class="fa-solid fa-file-check"></i>
                    </div>
                    <a routerLink="/approved" class="small-box-footer"
                        >Batafsil <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{uncheckedProjects}}</h3>

                        <p>Tekshirilmagan</p>
                    </div>
                    <div class="icon">
                        <i *ngIf="uncheckedProjects" class="fa-solid fa-file-exclamation"></i>
                    </div>
                    <a routerLink="/projects" class="small-box-footer"
                        >Batafsil <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{rejectedProjects}}</h3>

                        <p>Rad etilgan</p>
                    </div>
                    <div class="icon">
                        <i *ngIf="rejectedProjects" class="fa-solid fa-file-xmark"></i>
                    </div>
                    <a routerLink="/rejected" class="small-box-footer"
                        >Batafsil <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Main row -->
</section>
<!-- /.content -->
